<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiserun.develop.roledepartment.mapper.RoledepartmentMapper" >

    <resultMap id="BaseResultMap" type="com.wiserun.develop.roledepartment.model.Roledepartment" >
        <result column="role_department_id" property="role_department_id" jdbcType="VARCHAR" />
        <result column="role_department_roleid" property="role_department_roleid" jdbcType="VARCHAR" />
        <result column="role_department_departmentid" property="role_department_departmentid" jdbcType="VARCHAR" />
        <result column="role_department_create" property="role_department_create" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >        <!--  相当于sql语句的* -->
		`role_department_id`,`role_department_roleid`,`role_department_departmentid`,`role_department_create`
    </sql>
	<!-- 根据组织id查找所有角色数据 -->
    <select id="queryList" resultMap="BaseResultMap" parameterType="com.wiserun.develop.roledepartment.model.Roledepartment">
        SELECT  
        role_department_roleid
        FROM admin_role_department
        <where>
            <if test="role_department_departmentid != null" >
                AND role_department_departmentid = #{role_department_departmentid,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>